---
layout: layouts/base.njk
---
{% set entryUrl = page.url %}{% set entryDate = date %}{% set entryContent = content %}{% set entryStatus = status %}{% set entryFederate = federate %}
{% include "note.njk" %}
{% include "webmentions.njk" %}
