---
import BaseHead from '@components/BaseHead.astro';
import Footer from '@components/Footer.astro';
import Header from '@components/Header.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title="About" description="About Damon Kelley" />
	</head>
	<body>
		<Header />
		<main>
			<article>
				<h1>About</h1>
				<p>
                    I work at the edge where people and software meet. My focus is
                    on shaping systems—technical and social—that feel coherent,
                    resilient, and alive. I believe good design starts with
                    understanding context, not control.
				</p>
				<p>
					You can find me on <a href="https://github.com/damonkelley">GitHub</a> or reach out via
					<a href="mailto:damon.kelley@gmail.com">email</a>.
				</p>
			</article>
		</main>
		<Footer />
	</body>
</html>
