---
import BaseHead from '@components/BaseHead.astro';
import Footer from '@components/Footer.astro';
import Header from '@components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '@/consts';
import { getCollection } from 'astro:content';
import { generateWordCloudSvg } from '@/utils/wordCloud';

const posts = await getCollection('blog');
const encodedSvg = generateWordCloudSvg(posts);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body style={`background-image: url("data:image/svg+xml,${encodedSvg}"); background-size: cover; background-position: center; background-repeat: no-repeat; background-attachment: fixed;`}>
		<Header />
		<main>
		</main>
		<Footer />
	</body>
</html>
