---
layout: layouts/base.njk
title: Archive
description: "Archived blog posts"
---
<h1>Archive</h1>
<div class="h-feed">
  <ul>
    {%- for post in collections.articles | reverse -%}
    {%- if post.data.status === "archived" -%}
    <li>
      <article class="h-entry">
        <a href="{{ post.url }}"><time class="dt-published" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time></a>
        <h2 class="p-name"><a class="u-url" href="{{ post.url }}">{{ post.data.title }}</a></h2>
        <p class="p-summary">{{ post.data.description }}</p>
      </article>
    </li>
    {%- endif -%}
    {%- endfor -%}
  </ul>
</div>
