---
layout: base.njk
title: Archive
description: "Archived blog posts"
---
<h1>Archive</h1>
<div class="h-feed">
  <ul>
    {%- for post in collections.posts | reverse -%}
    {%- if post.data.archived -%}
    <li class="h-entry">
      <a href="{{ post.url }}" class="u-url">
        <h2 class="p-name">{{ post.data.title }}</h2>
        <p class="p-summary">{{ post.data.description }}</p>
        <time class="dt-published" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
      </a>
    </li>
    {%- endif -%}
    {%- endfor -%}
  </ul>
</div>
