---
layout: base.njk
title: Damon Kelley
description: "Writing, building, and thinking about how humans and software shape each other."
---
<div class="h-feed">
  <ul>
    {%- for item in collections.feed -%}
    <li class="h-entry">
      {%- if item.data.title -%}
      <a href="{{ item.url }}" class="u-url">
        <h2 class="p-name">{{ item.data.title }}</h2>
        <p class="p-summary">{{ item.data.description }}</p>
        <time class="dt-published" datetime="{{ item.date | htmlDateString }}">{{ item.date | readableDate }} — {{ item.content | readingTime }}</time>
      </a>
      {%- else -%}
      <a href="{{ item.url }}" class="u-url">
        <time class="dt-published" datetime="{{ item.date | htmlDateString }}">{{ item.date | readableDate }}</time>
      </a>
      <div class="e-content">{{ item.content | safe }}</div>
      {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>
</div>
