---
layout: layouts/base.njk
title: Micro
description: "Short-form notes and thoughts."
---
<h1>Micro</h1>
<div class="h-feed">
  <ul>
    {%- for note in collections.notes | reverse -%}
    <li>
      {% set entryUrl = note.url %}{% set entryDate = note.date %}{% set entryContent = note.content %}{% set entryStatus = note.data.status %}{% set entryFederate = note.data.federate %}
      {% include "note.njk" %}
    </li>
    {%- endfor -%}
  </ul>
</div>
