---
layout: layouts/base.njk
title: Writing
description: "Writing, building, and thinking about how humans and software shape each other."
---
<h1>Writing</h1>
<div class="h-feed">
  <ul>
    {%- for article in collections.articles | reverse -%}
    {%- if article.data.status === "published" -%}
    <li>
      <article class="h-entry">
        <a href="{{ article.url }}"><time class="dt-published" datetime="{{ article.date | htmlDateString }}">{{ article.date | readableDate }} — {{ article.content | readingTime }}</time></a>
        <h2 class="p-name"><a class="u-url" href="{{ article.url }}">{{ article.data.title }}</a></h2>
        <p class="p-summary">{{ article.data.description }}</p>
      </article>
    </li>
    {%- endif -%}
    {%- endfor -%}
  </ul>
</div>
<p><em>Can't find what you are looking for? Check the <a href="/archive/">archive</a>.</em></p>
